<header class="flex justify-between container mx-auto py-12 animate-fade-down">
  <div>
    <nav>
      <ul class="flex space-x-4">
        <li><a class="px-4 py-1 rounded-2xl border text-indigo-950 border-indigo-950 font-semibold hover:bg-indigo-950 hover:text-white transition-all duration-300" href="#mas-vendidos">CATÁLOGO</a></li>
        <li><a class="px-4 py-1 rounded-2xl border text-indigo-950 border-indigo-950 font-semibold hover:bg-indigo-950 hover:text-white transition-all duration-300" href="#contacto">CONTACTO</a></li>
        <li><a class="px-4 py-1 rounded-2xl border text-indigo-950 border-indigo-950 font-semibold hover:bg-indigo-950 hover:text-white transition-all duration-300" href="#nosotros">NOSOTROS</a></li>
      </ul>
    </nav>
  </div>
  <div class="flex justify-between">
    <div class="text-center font-bold w-2xl">
      <span class="w-full bg-indigo-950 rounded">.</span>
      <span class="w-full bg-indigo-950 rounded">.</span>
      <span class="w-full bg-indigo-950 rounded">.</span>
      <span class="w-full bg-indigo-950 rounded">.</span>
    </div>
    <div class="text-4xl font-bold text-indigo-950 font-inter">
        Cabrelia
    </div>
  </div>
</header>
